<div class="card widget-messages mg-t-20">
    <div class="card-header">
      <span>Peformance</span>
      <a href=""><i class="icon ion-more"></i></a>
    </div><!-- card-header -->
    <div class="list-group list-group-flush">
      {% for i in range(0,5)%}
      <a href="" class="list-group-item list-group-item-action media">
        <img src="https://laiwoonjie-employee.s3.amazonaws.com/emp-id-{{user[i][0]}}_profile_image_file.png" alt="">
        <div class="media-body">
          <div class="msg-top">
            <span>{{user[i][2]}} {{user[i][1]}}</span>
            <span>4:09am</span>
          </div>
          <p class="msg-summary">Good Employee</p>
        </div><!-- media-body -->
      </a><!-- list-group-item -->
      {% endfor %}
    </div><!-- list-group -->
    <div class="card-footer">
      <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-3"></i> Load more reviews messages</a>
    </div><!-- card-footer -->
  </div><!-- card -->