<div class="card widget-messages mg-t-20">
    <div class="card-header">
      <span>Messages</span>
      <a href=""><i class="icon ion-more"></i></a>
    </div><!-- card-header -->
    <div class="list-group list-group-flush">
      <a href="" class="list-group-item list-group-item-action media">
        <img src="../static/img/img10.jpg" alt="">
        <div class="media-body">
          <div class="msg-top">
            <span>Mienard B. Lumaad</span>
            <span>4:09am</span>
          </div>
          <p class="msg-summary">Many desktop publishing packages and web page editors now use...</p>
        </div><!-- media-body -->
      </a><!-- list-group-item -->
      <a href="" class="list-group-item list-group-item-action media">
        <img src="../static/img/img9.jpg" alt="">
        <div class="media-body">
          <div class="msg-top">
            <span>Isidore Dilao</span>
            <span>Yesterday 3:00am</span>
          </div>
          <p class="msg-summary">On the other hand, we denounce with righteous indignation and dislike...</p>
        </div><!-- media-body -->
      </a><!-- list-group-item -->
      <a href="" class="list-group-item list-group-item-action media">
        <img src="../static/img/img8.jpg" alt="">
        <div class="media-body">
          <div class="msg-top">
            <span>Kirby Avendula</span>
            <span>Yesterday 3:00am</span>
          </div>
          <p class="msg-summary">It is a long established fact that a reader will be distracted by the readable...</p>
        </div><!-- media-body -->
      </a><!-- list-group-item -->
      <a href="" class="list-group-item list-group-item-action media">
        <img src="../static/img/img7.jpg" alt="">
        <div class="media-body">
          <div class="msg-top">
            <span>Roven Galeon</span>
            <span>Yesterday 3:00am</span>
          </div>
          <p class="msg-summary">Than the fact that climate change may be causing it to rapidly disappear... </p>
        </div><!-- media-body -->
      </a><!-- list-group-item -->
    </div><!-- list-group -->
    <div class="card-footer">
      <a href="" class="tx-12"><i class="fa fa-angle-down mg-r-3"></i> Load more messages</a>
    </div><!-- card-footer -->
  </div><!-- card -->