<div class="sl-sideleft">
    <div class="input-group input-group-search">
      <input type="search" name="search" class="form-control" placeholder="Search">
      <span class="input-group-btn">
        <button class="btn"><i class="fa fa-search"></i></button>
      </span><!-- input-group-btn -->
    </div><!-- input-group -->

    <label class="sidebar-label">Navigation</label>
    <div class="sl-sideleft-menu">
      {%for i in range(0, len_sidebar)%} 
      <a href="{{sidebar_items[i][2]}}" class="sl-menu-link {% if active == sidebar_items[i][2] %}active{%endif %}">
        <div class="sl-menu-item">
          <i class="menu-item-icon icon {{sidebar_items[i][1]}} tx-22"></i>
          <span class="menu-item-label">{{sidebar_items[i][0]}}</span>
        </div><!-- menu-item -->
      </a><!-- sl-menu-link -->
      {%endfor%}
    </div><!-- sl-sideleft-menu -->

    <br>
  </div><!-- sl-sideleft -->