{% extends 'base.html' %}

{% block main %}
<div class="row row-sm">
    <div class="col-sm-6 col-xl-3">
      <div class="card pd-20 pd-sm-25">
        <div class="d-flex align-items-center">
          <span class="sparkline1">3,4,8,7,4,3,1,2,1,3,5</span>
          <div class="mg-l-15">
            <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-gray-600 mg-b-8">Daily Sales</p>
            <h3 class="tx-bold tx-lato tx-inverse mg-b-0">$45,302</h3>
          </div>
        </div>
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
      <div class="card pd-20 pd-sm-25 bg-primary">
        <div class="d-flex align-items-center">
          <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
          <div class="mg-l-15">
            <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Daily Sales</p>
            <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
          </div>
        </div>
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
      <div class="card pd-20 pd-sm-25 bg-info">
        <div class="d-flex align-items-center">
          <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
          <div class="mg-l-15">
            <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Daily Sales</p>
            <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
          </div>
        </div>
      </div><!-- card -->
    </div><!-- col-3 -->
    <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
      <div class="card pd-20 pd-sm-25 bg-sl-primary">
        <div class="d-flex align-items-center">
          <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
          <div class="mg-l-15">
            <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Daily Sales</p>
            <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
          </div>
        </div>
      </div><!-- card -->
    </div><!-- col-3 -->
  </div><!-- row -->
   

{% endblock %}