{% extends 'base.html' %} {%block breadcrumb%}
<nav class="breadcrumb sl-breadcrumb">
  <a class="breadcrumb-item" href="index.html">Starlight</a>
  <span class="breadcrumb-item active">Payroll</span>
</nav>
{%endblock%} 
{% block main %}
<div class="sl-pagebody">
  <!-- <div class="sl-page-title">
        <h5>Data Table</h5>
        <p>DataTables is a plug-in for the jQuery Javascript library.</p>
      </div>sl-page-title -->

  <div class="card pd-20 pd-sm-40">
    <div class="flex">
      <h6 class="card-body-title">Payroll Console</h6>
      <p class="mg-b-20 mg-sm-b-30">
        Searching, ordering and paging goodness will be immediately added to the
        table, as shown in this example.
      </p>
      <div class="table-wrapper">
        <table id="datatable1" class="table display responsive nowrap">
          <thead>
            <tr>
              <th class="wd-5p">Employee Id</th>
              <th class="wd-10p">Employee Name</th>
              <th class="wd-10p">Working Hours</th>
              <th class="wd-10p">Total Payment</th>
            
    
            </tr>
          </thead>
          <tbody>
            {%for i in range(0, len)%}
            <tr>
              <td>{{payroll[i][0]}}</td>
              <td>{{payroll[i][2]}} {{payroll[i][1]}}</td>
              <td>
                {{payroll[i][4]}}
              </td>
              <td>
                {{payroll[i][5]}}
              </td>
             
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
      <!-- table-wrapper -->
    </div>
    <!-- card -->
  </div>
  <!-- sl-pagebody -->
</div>

{% endblock %}
